@import "tailwindcss";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";


:root {
    --background: #000000;
    --foreground: #2E2E2E;
    --surface: #121212;

    --text: #FFFFFF;

    --primary: #E49B0F;
    --primary-variant: #F4BB44;
    --primary-light: #FFECB3;

    --secondary: #1589EE;
    --border: #D1D5DC;

    --answered: #22C55E;
    --marked-for-review: #6B21A8;
    --not-answered: #F97316;
    --not-visited: #E5E7EB;

    --chemistry: #D1FAE5;
    --physics: #F9F7FF;
    --timer: #EF4444;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-text: var(--text);
  --color-primary: var(--primary);
  --color-primary-variant: var(--primary-variant);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --color-border: var(--border);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background:#E5E7EB;
    --foreground:#FFFFFF;
    --text:#64748B;
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: 'Poppins', Helvetica, sans-serif;
}
